.container {
    padding-top: 5%;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    height: 43px;
    border-top: 1px solid #ddd;
}

ul li div {
    line-height: 2;
    height: 100%;
}

ul li:nth-child(2n){
    background-color: #f5f5f5;
}

#the-list{
    float: none;
    margin: auto;
    padding: 0;
}

.panel-body {
    padding: 0;
    font-size: 1.4em;
}

.panel-heading {
    border: 0;
    display: flex;
    justify-content: space-between;
    background-color: #6a7278;
}
.panel-heading i {
    font-size: 1.4em;
    color: #4a9dbd;
}

.form-control {
    border-radius: 0;
    padding: 0 5px;
    font-size: inherit;
    border: 0;
    height: 43px;
}

.strikeout {
    position: relative;
    background-color: #c6ffc6;
  }

.strikeout::after {
    border-bottom: 0.125em solid rgb(150, 143, 143);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 45%;
  }

.todo-record-content {
    padding: 0 5px;
    width: 100%;
}

  .delete {
      display: none;
      color: white;
      width: 43px;
      overflow: hidden;
      text-align: center;
      background-color: rgb(223, 75, 75);
  }

  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {   
    border-color: rgba(57, 183, 233, 0.8);
    outline: 1px solid  rgba(57, 183, 233, 0.8);
    box-shadow: none;
  }

.todo-record {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 500px){

}